/node_modules
/public/hot
/public/build
/public/storage
/public/css/
/public/js/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tests/cypress/videos
tests/cypress/screenshots
